@charset "utf-8";
/* CSS Document */

/*html and css challenge*/
    /*text-shadow, html entities*/


p {
    color: mediumspringgreen;
    background-color: lightseagreen;
    text-shadow: 0 0 2px lime, 0 0 5px yellow;
    font-size: 35px;
    text-align: center;
}

body {
    background-color: darkslategray;
}


