@charset "utf-8";
/* CSS Document */

/*background color, font color, hover selector, border*/

. op {
    background-color: cornflowerblue;
    color: brown;
}
. meg {
    background-color: darkorchid;
}
. bee {
    background-color: yellow;
}

t d:hover {
    background-color: darkred;
    color: darkgray;
}
t able {
    background-color: darkslategray;
    border: 2px black;
    width: 50%;
}

h2 {
    
}